*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    width: 100vh;
    width: 100%;
}
.centro{
    background-color: black;
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    width: 100vh;
    width: 100%;
}
p{
    text-align: center;
    font-size: 15px;
    color: white;
    position: absolute;
}